.App {
    font-family: 'HelveticaNeue-UltraLight';
    background: #222233;
    color: #AACCFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
