.WeatherRows {
    display: grid;
    justify-items: center;
}

.Weather {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.WeatherIcon {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.WeatherTemp {
    font-size: 9em;
}

.WeatherCity {
    font-size: 2em;
    letter-spacing: 1px;
}
