.WeatherRows {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

.Weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    justify-self: center;
}

.WeatherIcon {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.WeatherImage {
    display: block;
    width: 100%;
    height: 100%;
}

.WeatherTemp {
    font-size: 9em;
}

.WeatherCity {
    font-size: 2em;
    letter-spacing: 1px;
}
